<lasso-page package-path="../../browser.json"/>
<!DOCTYPE html>
<html>
<head>
<lasso-head/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><include(input.title)/></title>
    
</head>
<body>
    <app-nav name="Hot Movies"/>
    <div><include(input.content)/></div>
    <app-footer/>
    <lasso-body/>
    
</body>
</html>